@charset "UTF-8";
/*
html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}
*/

body {
margin: 0;
display: flex;
justify-content: center;
background: #F7EEE7;
}

* {
	box-sizing: border-box;
}

#captureArea {
    position: relative;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    
}


/* 背景画像を配置するための領域 */
#background {

    /* 親要素(captureArea)を基準に絶対配置 */
    position: absolute;

    /* 左上から配置 */
    top: 0;
    left: 0;
    
    /* 背景画像の表示サイズ */
    width: 100%;
    height: 100%;

    /* 重なり順（数値が小さいほど後ろ） */
    z-index: 1;
}

/* 背景画像そのものの設定 */
#background img {

    /* 親要素(#background)いっぱいに広げる */
    width: 100%;
    height: 100%;

    /* 縦横比を維持したまま領域全体を埋める */
    object-fit: cover;
}

/*キャラの配置*/
#characterImage {
    position: absolute;
    top: 600px;
    left: 960px;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
    object-fit: cover; 
}

/* キャンバス（一番前） */
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 70%;*/
    height: 100%;
    z-index: 3;
}
 

#pen img {
width: 300px;
height: 300px;
object-fit: cover; 
    cursor: pointer;
}


#save img {
width: 400px;
height: 300px;
object-fit: cover; 
    cursor: pointer;
}

#return img {
width: 300px;
height: 300px;
object-fit: cover; /* 重要 */
    cursor: pointer;
}

.edit-bottom {
	background-image: url('/f4/images_back/desk.png');
	height:400px;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15px 20px;
	place-items: center;
	
}

.wrapper{
	width:1920px;
	height:auto;
}