@charset "UTF-8";
html{
        background-image: url("../images_back/main.png");
        background-size: cover;      /* 画面いっぱいに表示 */
        background-position: center; /* 中央配置 */
        background-repeat: no-repeat;
    }

.characterImage{
	
	width:1920px;
    height:1080px;
	
}
    

