@charset "UTF-8";

body{
	/* 画像のパスを指定 */
	background-image: url('/f4/images_home/home1980.png');

	/* 画像の設定 */
	background-position: center 75%;
	background-repeat: no-repeat;/* 繰り返さない */
	background-attachment: fixed;/* スクロールしても動かない */
}

#characterImage{
	display: block;
	margin: 0 auto;
}